<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Hospedagem São Francisco - São Luís - Brasil</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>

  <body>
    <!-- navbar -->
    <div class="navbar-fixed">
      <nav class="white" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="index.html" class="brand-logo"><i style="font-size:50px" class="material-icons">airline_seat_individual_suite</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="quartos.html">Quartos</a></li>
            <li><a href="fotos.html">Fotos</a></li>
            <!-- <li><a href="atracoes.html">Atrações</a></li> -->
            <!-- <li><a href="comodidades.html">Comodidades</a></li> -->
            <!-- <li><a href="login.html">Entrar</a></li> -->
            {% if current_user.is_authenticated %}
              <li><a href="{{ url_for('logout') }}" class="btn btn-default">Sair</a></li>
            {% else %}
              <li><a href="{{ url_for('login') }}" class="btn btn-default">Entrar</a></li>
            {% endif %}

          </ul>

          <ul id="nav-mobile" class="sidenav">
            <li><a href="#">Navbar Link</a></li>
          </ul>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
      </nav>
    </div>

    {% block content %}

    {% endblock %}

    <!-- footer -->
    <footer class="page-footer teal">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Endereço</h5>
            <p class="grey-text text-lighten-4">
              <!-- <b>Missão:</b> ser reconhecida como a de melhor custo benefício. <br>

              <b>Visão:</b> fazer bom e melhor que os concorrentes que vendem a valor similar. <br>

              <b>Valor:</b> respeito a todos igualmente e nunca atrasar compromisso profissional ou financeiro.</p> -->

              Rua Um, 81 - Bairro São Francisco
              <br>CEP – 65 076 320 - São Luís - Ma
              <br> Só vem, sxx lindx! :D

          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Links úteis</h5>
            <ul>
              <li><a class="white-text" href="{{ url_for('quartos') }}">Quartos</a></li>
              <li><a class="white-text" href="{{ url_for('fotos') }}">Fotos</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Contatos</h5>
            <ul>
              <li><a class="white-text" href="#!">Facebook</a></li>
              <li><a class="white-text" href="#!">Twitter</a></li>
              <li><a class="white-text" href="#!">Instagram</a></li>
              <li><a class="white-text" href="#!">Youtube</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a> feat. João Vitor and Mariana Luna
        </div>
      </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
    <script src="{{ url_for('static', filename='js/init.js') }}"></script>
  </body>
</html>
