{% extends 'base.html' %}

{% block content %}


    <div class="row">
      <div class="col s12 m4">
        <!-- MATERIAL BOX -->
        <img class="materialboxed" width="100%" src="{{ url_for('static', filename='quarto1.jpg') }}">
      </div>
      <div class="col s12 m4">
        <!-- WITH CAPTION -->
        <img class="materialboxed" width="100%" src="{{ url_for('static', filename='quarto2.jpg') }}">
      </div>
      <div class="col s12 m4">
        <!-- MATERIAL BOX -->
        <img class="materialboxed" width="100%" src="{{ url_for('static', filename='quarto3.jpg') }}">
      </div>
    </div>

    <div class="row">
      <div class="col s12 m4">
        <!-- MATERIAL BOX -->
        <img class="materialboxed" width="100%" src="{{ url_for('static', filename='quarto4.jpg') }}">
      </div>
      <div class="col s12 m4">
        <!-- WITH CAPTION -->
        <img class="materialboxed" width="100%" src="{{ url_for('static', filename='carrossel1.jpg') }}">
      </div>
      <div class="col s12 m4">
        <!-- MATERIAL BOX -->
        <img class="materialboxed" width="100%" src="{{ url_for('static', filename='carrossel2.jpg') }}">
      </div>
    </div>

    <div class="row">
      <div class="col s12 m4">
        <!-- MATERIAL BOX -->
        <img class="materialboxed" width="100%" src="{{ url_for('static', filename='carrossel3.jpg') }}">
      </div>
      <div class="col s12 m4">
        <!-- WITH CAPTION -->
        <img class="materialboxed" width="100%" src="{{ url_for('static', filename='terraco.jpg') }}">
      </div>
      <div class="col s12 m4">
        <!-- MATERIAL BOX -->
        <img class="materialboxed" width="100%" src="{{ url_for('static', filename='estacionamento.jpg') }}">
      </div>
    </div>


{% endblock %}
